In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('Final.csv')
# view the data
df.head()

,Unnamed: 0,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
0,0,Afghanistan,AFG,1980,0.0,0.0,0,0.0
1,1,Afghanistan,AFG,1981,0.0,0.0,0,0.0
2,2,Afghanistan,AFG,1982,0.0,0.0,0,0.0
3,3,Afghanistan,AFG,1983,0.0,0.0,0,0.0
4,4,Afghanistan,AFG,1984,0.0,0.0,0,0.0

In [3]:
df.dtypes

Unnamed: 0                  int64
Entity                     object
Code                       object
Year                        int64
Cellular Subscription     float64
Internet Users(%)         float64
No. of Internet Users       int64
Broadband Subscription    float64
dtype: object

In [4]:
df.isna().sum()

Unnamed: 0                0
Entity                    0
Code                      0
Year                      0
Cellular Subscription     0
Internet Users(%)         0
No. of Internet Users     0
Broadband Subscription    0
dtype: int64

In [5]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication


# Define the authentication method (Device Code Login)
device_auth = DeviceCodeLoginAuthentication()

# Specify the dataset configuration for your data
dataset_config = get_dataset_config(df)

# Create a Power BI report from the data
pbi_visualize = QuickVisualize(dataset_config, auth=device_auth)

pbi_visualize

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code DXLHJCKNH to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

QuickVisualize()